.background {
  width: 100%;

  background-color: #f1f1f1;
  border-radius: 0.5rem;
  margin-top: 5rem;
}

.productGridItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.productGridItem > img {
  position: relative;
  width: 9rem;
  top: -4rem;
}

.productGridItem > p {
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 1.5rem;
  top: -4rem;
}

.shop {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
  top: -4rem;
}

.shop p {
  font-weight: bold;
  font-size: 0.8125rem;
  letter-spacing: 1px;
  color: #000;
  opacity: 0.5;
  text-transform: uppercase;
}

.shop img {
  width: 5px;
  height: 10px;
}
